* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

/*end reset*/

/*start nav*/
nav {

}

.left-nav a {
    text-decoration: none;
    font-weight: bold;
}

.left-nav a:nth-child(2) {
    margin-top: 20px;
    font-size: 30px;

}

.left-nav {
    margin-left: 157px;
    display: inline-flex;
    margin-top: 8px;

}

.right-nav {
    float: right;
    margin-top: 34px;
    margin-left: 10px;
    position: relative;
    width: 60%;
}

.nav-elements {
    list-style: none;
    display: inline-flex;
}

.nav-elements li {
    margin-left: 20px;
    display: flex;
}

.nav-elements li a {
    text-decoration: none;
    font-size: 16px;
    color: #202020;
}

.nav-elements a:hover {
    text-decoration: none;
    color: #737373;
    padding-bottom: 7px;
    border-image: linear-gradient(to right, #005400 25%, #1b1464 25%, #1b1464 50%, #9e005d 50%, #9e005d 75%, #fff200 75%) 2;
    border-bottom: 5px solid;

}

.icon-lang {
    list-style: none;
    display: inline-flex;
    margin-left: 19px;
}

.icon-lang li {
    margin-left: 6px;
    margin-top: 1px;
}

/*end nav*/

/*start header*/
.service-header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-image: linear-gradient(to right, #ed1c24 15%, #005400 15%, #005400 30%, #1b1464 30%, #1b1464 45%, #9e005d 45%, #9e005d 60%, #fff200 60%, #fff200 80%, #00bff3 80%) 2;
    border-bottom: 5px solid;
    margin-top: 18px;
    background-image: url("../images/about-header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 422px;

}

.service-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.main-text p {
    font-size: 29px;
    font-weight: bold;
}

.second-text {
    margin-top: 29px;
    width: 715px;
    font-size: 29px;
    text-align: center;
}

/*end header*/

.main-service {
    display: flex;
    margin-top: 42px;

}

/*start left side*/
.left-side {
    width: 374px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.left-size {
    width: 374px;
    height: 180px;
    margin-bottom: 7px;
}

.left-transport {
    background: url("../images/trannsport1.png") no-repeat;
    border-bottom-right-radius: 5px;
}

.left-hotel {
    background: url("../images/hotel.png") no-repeat;
    border-bottom-right-radius: 5px;
}

.left-transfer {
    background: url("../images/transfer1.png") no-repeat;
    border-bottom-right-radius: 5px;
}

.left-guide {
    background: url("../images/guide1.png") no-repeat;
    border-bottom-right-radius: 5px;
}

.service-detail {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 13px;
    margin-top: 11px;
}

.service-detail img {
    margin-right: 60px;
}

.service-detail p {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    margin-top: 11px;
    margin-right: 15px;
}

.service-detail button {
    width: 178px;
    height: 37px;
    align-items: center;
    margin-top: 26px;
    border: 0;
    border-radius: 3px;
    font-size: 20px;
    color: #000000;
}

/*end left side*/

/*start right side*/

.right-side {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-detail {
    height: 175px;
    margin-left: 61px;
    display: flex;
    margin-bottom: 25px;
}

.detail-img {
    width: 341px;
    display: flex;
    align-items: flex-start;
}

.detail-img img {
    width: 336px;
    height: 175px;
}

.detail-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.detail-info p:first-child {
    color: #212121;
    font-size: 25px;
    font-weight: bold;
}

.detail-info p:nth-child(2) {
    margin-top: 16px;
}

.detail-info p {
    font-size: 20px;
    font-weight: bold;
    color: #737373;
}

.detail-info span {
    color: #282828;
}

.detail-info button {
    width: 333px;
    height: 34px;
    margin-top: 16px;
    font-size: 25px;
    font-weight: bold;
    background-color: #ffa902;
    border: 0;
    border-radius: 5px;
    color: #ffffff;

}

/*end right side*/

/*start wonder tour text*/
.wonder-tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.wonder-tours p:first-child {
    color: #212121;
    font-size: 33px;
    font-weight: bold;
    border-image: linear-gradient(to right, #005400 25%, #1b1464 25%, #1b1464 50%, #9e005d 50%, #9e005d 75%, #fff200 75%) 2;
    border-bottom: 5px solid;
    padding-bottom: 13px;
}

.wonder-tours p:nth-child(2) {
    font-size: 20px;
    color: #737373;
    width: 680px;
    text-align: center;
    margin-top: 5px;
}

/*end wonder tour text*/

/*create wonder tours poll*/
.wonder-tours-add {
    display: flex;
    justify-content: center;
    margin-top: 57px;

}

.detail-wonder-tours {
    margin-left: 16px;
}

.wonder-image {
    display: flex;
    justify-content: center;
}

.wonder-container {
    background-color: #ebebeb;
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px;
    margin-top: 20px;

}

.wonder-container p:first-child {
    font-size: 25px;
    font-weight: bold;
    margin-top: 22px;
}

.wonder-container p:nth-child(2) {
    font-size: 16px;
    width: 202px;
    height: 118px;
    text-align: center;
    margin-top: 22px;
}

.wonder-container button {
    width: 178px;
    height: 37px;
    border: 0px;
    border-radius: 3px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.regular p:first-child {
    color: #ffa902;

}

.regular button {
    background-color: #ffa902;
}

.adventure p:first-child {
    color: #005400;
}

.adventure button {
    background-color: #005400;
}

.medic p:first-child {
    color: #00b7d8;
}

.medic button {
    background-color: #00b7d8;
}

.different p:first-child {
    color: #74028d;
}

.different button {
    background-color: #74028d;
}

/*end wonder tour pols*/

/*create footer*/
footer {
    margin-top: 94px;
    background-color: #b7b7b7;
    width: 100%;
}

.site-map {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 21px;
}

.site-map div {
    display: flex;
    flex-direction: column;

}

.site-map a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 21px;
}

.site-map li {
    list-style: none;
    margin-left: 10px;
    padding-bottom: 21px;
    color: #454545;
}

.site-map li > a {
    color: #454545;
}

.dcg-creators {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

/*end of footer*/
.info-detail {
    width: 750px;
    margin: 15px;
    font-size: 16px;
    margin-left: 46px;

}