/*marcxena mxares menius gapormeba */

* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    margin: 0 auto;
}

/*start nav*/
nav {

}

.left-nav a {
    text-decoration: none;
    font-weight: bold;
}

.left-nav a:nth-child(2) {
    margin-top: 20px;
    font-size: 30px;

}

.left-nav {
    margin-left: 157px;
    display: inline-flex;
    margin-top: 8px;

}

.right-nav {
    float: right;
    margin-top: 34px;
    margin-left: 10px;
    position: relative;
    width: 60%;
}

.nav-elements {
    list-style: none;
    display: inline-flex;
}

.nav-elements li {
    margin-left: 20px;
    display: flex;
}

.nav-elements li a {
    text-decoration: none;
    font-size: 16px;
    color: #202020;
}

.nav-elements a:hover {
    text-decoration: none;
    color: #737373;
    padding-bottom: 7px;
    border-image: linear-gradient(to right, #005400 25%, #1b1464 25%, #1b1464 50%, #9e005d 50%, #9e005d 75%, #fff200 75%) 2;
    border-bottom: 5px solid;

}

.icon-lang {
    list-style: none;
    display: inline-flex;
    margin-left: 19px;
}

.icon-lang li {
    margin-left: 6px;
    margin-top: 1px;
}

/*marjvena mxares elementis ganlagebis dasruleba*/

/*enis iconebis cvlileba*/

.icon-lang {
    display: inline-block;
    position: absolute;
    width: 160px;
    margin-left: 19px;
}

.icon-lang li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-left: 6px;

}

/*enis aikonebis cvlilebis dasruleba*/

/*shevqmnat enebze hover*/

.nav-lang img {
    width: 26px;
    height: 18px;
}

.nav-lang img:active {
    filter: grayscale(100%);
}

.header-slider img {
    width: 100%;

}

.header-slider {
    margin-top: 18px;
    width: 100%;
}

.header-slider-text {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 127px;
    font-size: 29px;
    color: #ffffff;
}

.header-slider-text :first-child {
    color: white;
    font-weight: bold;

}

.main-carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    border-image: linear-gradient(to right, #ed1c24 15%, #005400 15%, #005400 30%, #1b1464 30%, #1b1464 45%, #9e005d 45%, #9e005d 60%, #fff200 60%, #fff200 80%, #00bff3 80%) 2;
    border-bottom: 5px solid;
    margin-top: 18px;
    background-image: url(../images/about-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 422px;
}

.main-info {
    position: relative;
    width: 100%;
    display: block;

}

.tour-info {
    display: flex;
    margin-top: -100px;
    justify-content: center;

}

.detail-info {
    display: inline-block;
    margin-left: 14px;
    width: 250px;
    height: 250px;
}

.info-after img {
    width: 100px;
    height: 100px;
    /* margin: 61px; */
    display: flex;
    margin: 0 auto;
    margin-top: 54px;
}

.info-after p {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
    color: #ffffff;

}

.detail-info-hotel {
    background-image: url('../images/hotels.png');
    display: inline-block;
}

.detail-info-garage {
    background-image: url('../images/garage.png');
}

.detail-info-transfer {
    background-image: url("../images/tranfer.png");
}

.detail-info-tourgude {
    background-image: url("../images/tourguide.png");
}

/*.detail-info:hover {*/
div.info-after:hover img {
    opacity: 0.5;
    margin-top: 20px;
    position: relative;
    transition: .2s easy;
}

div.info-after:hover p {
    opacity: 0.5;
    margin-top: 20px;

}

div.info-after:hover input {
    display: block;

}

.info-after:hover {
    transition: 2s;
}

div.info-after input {
    position: absolute;
    display: none;
}

.info-after input {
    width: 178px;
    height: 37px;
    align-items: center;
    display: flex;
    margin-left: 40px;
    border: 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 31px;
}

.info-after input[value] {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

/*background-color: green;*/
/*}*/

.wonder-tour-info {
    margin-top: 59px;

}

.wonder-tour-info p:first-child {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    width: 200px;
    border-image: linear-gradient(to right, #005400 25%, #1b1464 25%, #1b1464 50%, #9e005d 50%, #9e005d 75%, #fff200 75%) 2;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

.wonder-tour-info p:nth-child(2) {
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-top: 29px; */
    font-size: 22px;
    width: 674px;
    margin: 29px auto;
    color: #737373;
}

.wonder-tour-main {
    display: flex;
    justify-content: center;
    margin-top: 49px;

}

.wonder-tour-main img {
    display: flex;
    margin: 0 auto;
}

.wonder-main {
    width: 260px;
    background-color: #ebebeb;
    margin-top: 20px;
    margin-left: 16px;
    overflow: hidden;
}

.wonder-header {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;

}

.wonder-main p:nth-child(2) {
    text-align: center;
    font-size: 16px;
    width: 194px;
    margin-left: 33px;
    color: #000000;
}

.wonder-regular p:first-child {
    color: #ffa902;
    font-size: 25px;
}

.wonder-adventure {
    color: #005400;
}

.wonder-medic {
    color: #00b7d8;
}

.wonder-different {
    color: #74028d;
}

.wonder-regular button {
    background-color: #ffa902;
}

.wonder-adventure button {
    background-color: #005400;
}

.wonder-medic button {
    background-color: #00b7d8;
}

.wonder-different button {
    background-color: #74028d;
}

.wonder-main button {
    display: flex;
    margin: 0 auto;
    width: 175px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 22px;
    border-radius: 9px;
    border: 0;
}

.wonder-main a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
    margin-bottom: 2px;
    color: #ffffff;
}

.header-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 49px;
    margin-left: 20px;
}

.header-gallery-images {
    display: flex;
}

.header-gallery-text {
    width: 340px;
    text-align: center;
    margin-left: 38px;
    margin-top: 12px;

}

.header-gallery-text p {
    font-size: 33px;
    font-weight: bold;
}

.header-gallery-images img {
    margin-right: 14px;
    width: 64px;
}

.main-gallery {
    display: flex;
    justify-content: center;
    margin-top: 41px;
    margin-left: 60px;

}

.main-gallery-list2 {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.main-gallery-list2 img:first-child {
    margin-bottom: 15px;
}

.header-gallery2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 41px;

}

.header-gallery-button {
    text-align: center;
    margin-top: 12px;
}

.header-gallery-button button {
    width: 336px;
    height: 40px;
    background-color: #656565;
    border-radius: 3px;
    border: 0;
}

.header-gallery-button a {
    text-decoration: none;
    font-size: 28px;
    color: #ffffff;
}

.contact-info {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-map-info {
    margin-top: 15px;
}

.contact-info p:first-child {
    text-align: center;
    color: #212121;
    font-size: 33px;
    font-weight: bold;
    width: 230px;
    border-image: linear-gradient(to right, #005400 25%, #1b1464 25%, #1b1464 50%, #9e005d 50%, #9e005d 75%, #fff200 75%) 2;
    border-bottom: 2px solid;

}

.contact-info p:nth-child(2) {
    font-size: 21px;
    width: 450px;
    text-align: center;
    margin-top: 11px;
    color: #737373;
}

.detail-contact {
    display: flex;
    justify-content: flex-start;
    margin-top: 60px;
}

.contact-us {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 100%;

}

.contact-us-info {
    list-style: none;

}

.contact-us-info input[placeholder] {
    font-size: 16px;
    color: #8a8a8a;
    padding-bottom: 5px;
}

.contact-us-info input[type="text"] {
    border: 0;
    border-bottom: 2px solid #8a8a8a;
    outline: 0;
    margin-bottom: 39px;

}

.contact-us-info textarea {
    border: 0;
    border-bottom: 2px solid #8a8a8a;
    outline: 0;
    margin-bottom: 32px;
    width: 419px;
    height: 10%;
}

.contact-map iframe {
    width: 517px;
    height: 260px;
}

.contact-map {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.contact-map p, li {
    font-size: 16px;
    color: #8d8d8d;
}

.contact-map-info-last ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.contact-map-info-last li:nth-child(2) {
    margin-left: 21px;
}

.contact-map-info-last li {
    margin-top: 12px;
}

.btn-send button {
    width: 271px;
    height: 40px;
    text-align: center;
    background-color: #656565;
    border: 3px;
}

.btn-send img {
    float: left;
    margin: 5px;

}

.btn-send p {
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    color: #ffffff;
}

footer {
    margin-top: 94px;
    background-color: #b7b7b7;
    width: 100%;
}

.site-map {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 21px;
}

.site-map div {
    display: flex;
    flex-direction: column;

}

.site-map a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    padding-bottom: 21px;
}

.site-map li {
    list-style: none;
    margin-left: 10px;
    padding-bottom: 21px;
    color: #454545;
}

.site-map li > a {
    color: #454545;
}

.dcg-creators {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*დეტალური გვერდი ტურებისთვის*/
.header-tour-text {
    margin: 0 auto;
}

.header-tour-text p:first-child {
    margin-top: 125px;
    color: #ffffff;
    font-size: 33px;
    font-weight: bold;
}

.header-tour-text p:nth-child(2) {
    font-size: 29px;
    color: #ffffff;
    margin-top: 27px;

}

.tours {
    display: flex;
}

.tours-slider {
    display: flex;
    margin-bottom: 41px;
    border-image: linear-gradient(to right, #ed1c24 20%, #005400 20%, #005400 40%, #1b1464 40%, #1b1464 60%, #9e005d 60%, #9e005d 80%, #fff200 80%) 2;;
    border-bottom: 6px solid;
    width: 100%;
    margin-top: 18px;
}

.tours-detail {
    display: flex;
    flex-direction: column;
    margin-right: 36px;
}

.tours-detail div {
    margin-bottom: 7px;
    border-bottom-right-radius: 5px;

}

.tours-left-info {
    width: 403px;
    height: 180px;
    background-color: #ebebeb;
    display: flex;
}

.div1 {
    width: 40%;

}

.tours-main-info {

    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tours-main-info p {
    font-size: 25px;
    margin-top: 21px;

}

.tours-button {
    display: flex;
    margin-top: 14px;

}

.tours-button button:first-child {
    width: 178px;
    height: 37px;
    border-radius: 3px;
    font-size: 20px;
    border: 0;

}

.tours-button button:nth-child(2) {
    width: 37px;
    margin-left: 7px;
    border-radius: 3px;
    border: 0;
}

.tours-button a {
    text-decoration: none;
    color: #ffffff;
}

.tours-detail-info {
    display: flex;
    flex-direction: column;
}

.tours-details {
    display: flex;
    flex-direction: row;
}

.tours-detail-info div {
    margin-bottom: 10px;
}

.tours-tdesxription {
    margin-left: 19px;
}

.tours-btn {
    display: flex;
    justify-content: center;
}

.tours-btn button {
    width: 333px;
    height: 34px;
    border: 0px;
    border-radius: 3px;
    background-color: #ffa902;

}

.tours-btn {
    margin-top: 16px;
}

.tours-btn a {
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 6px;
    color: #ffffff;
}

.tours-btn button:hover {
    background-color: #b7b7b7;
}

.tours-tdesxription p {
    font-size: 20px;
    color: #737373;
    font-weight: bold;

}

.tours-tdesxription span {
    color: #212121;
}

.tours-tdesxription p:first-child {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 17px;
    color: #212121;
}

.btn-txt {
    margin-bottom: 2px;
}

.other-service-info {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.service-info hr {
    margin: 0 auto;
    width: 233px;
    margin-top: 13px;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #005400 25%, #1b1464 25%, #1b1464 50%, #9e005d 50%, #9e005d 75%, #fff200 75%) 2;

}

.service-info p {
    color: #212121;
    font-size: 33px;
}

.service-ainfo p {
    color: #737373;
    font-size: 20px;
    margin-top: 11px;
}

.other-info {
    margin-top: 36px;
    display: flex;
    justify-content: center;
}

.other-services {
    display: flex;
    justify-content: center;
}

/*galery style*/
.service-header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-image: linear-gradient(to right, #ed1c24 15%, #005400 15%, #005400 30%, #1b1464 30%, #1b1464 45%, #9e005d 45%, #9e005d 60%, #fff200 60%, #fff200 80%, #00bff3 80%) 2;
    border-bottom: 5px solid;
    margin-top: 18px;
    background-image: url("../images/about-header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 422px;

}

.service-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
}

.main-text p {
    font-size: 29px;
    font-weight: bold;
}

.second-text {
    margin-top: 29px;
    width: 100%;
    font-size: 29px;
    text-align: center;
}

/*start of main photos*/
.main-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 76px;
}

.left-img {
    width: 213px;
    height: 403px;
    margin-right: 28px;
    border: 5px solid #ffa902;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-img p {
    transform: rotate(270deg);
    font-size: 45px;
    font-weight: bold;
}

.center-img, .right-img {
    display: flex;
    flex-direction: column;
    width: 385px;
    height: 410px;
}

.first-photo img, .second-photo img {
    width: 385px;
    height: 195px;
    border: 0;
}

.first-photo, .second-photo {
    width: 385px;
    height: 195px;
}

.second-photo {
    margin-top: 15px;

}

.right-img {
    margin-left: 13px;
}

.other-details {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}

.other-photos {
    margin-left: 15px;
}

.other-photos img {
    width: 385px;
    height: 195px;
}

/*end photos*/

/*start videos*/
.main-video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 76px;
}

.right-video {
    width: 213px;
    height: 403px;
    border: 5px solid #ffa902;
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-video p {
    transform: rotate(90deg);
    font-size: 45px;
    font-weight: bold;
}

.center-video {
    margin-left: 13px;
}

/*end videos*/
/*start wonder tour text*/
.wonder-tours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.wonder-tours p:first-child {
    color: #212121;
    font-size: 33px;
    font-weight: bold;
    border-image: linear-gradient(to right, #005400 25%, #1b1464 25%, #1b1464 50%, #9e005d 50%, #9e005d 75%, #fff200 75%) 2;
    border-bottom: 5px solid;
    padding-bottom: 13px;
}

.wonder-tours p:nth-child(2) {
    font-size: 20px;
    color: #737373;
    width: 680px;
    text-align: center;
    margin-top: 5px;
}

/*end wonder tour text*/

/*create wonder tours poll*/
.wonder-tours-add {
    display: flex;
    justify-content: center;
    margin-top: 57px;

}

.detail-wonder-tours {
    margin-left: 16px;
}

.wonder-image {
    display: flex;
    justify-content: center;
}

.wonder-container {
    background-color: #ebebeb;
    width: 250px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px;
    margin-top: 20px;

}

.wonder-container p:first-child {
    font-size: 25px;
    font-weight: bold;
    margin-top: 22px;
}

.wonder-container p:nth-child(2) {
    font-size: 16px;
    width: 202px;
    height: 118px;
    text-align: center;
    margin-top: 22px;
}

.wonder-container button {
    width: 178px;
    height: 37px;
    border: 0px;
    border-radius: 3px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #74028d;
}

.regular p:first-child {
    color: #ffa902;

}

.regular button {
    background-color: #ffa902;
}

.adventure p:first-child {
    color: #005400;
}

.adventure button {
    background-color: #005400;
}

.medic p:first-child {
    color: #00b7d8;
}

.medic button {
    background-color: #00b7d8;
}

/*end wonder tour pols*/

.main-gallery-list {
    margin-left: 14px;
}

.btn-plus {
    width: 39px;
    height: 37px;
    font-size: 35px;
    font-weight: bold;
}

.info-detail {
    width: 750px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.info-detail p {
    font-size: 16px;
    color: #343434;
}

/*gallery photos*/

.main-gallery-image {
    width: 385px;
    height: 195px;
    display: block;
    position: relative;
    margin-bottom: 10px;

}

.inner-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main-gallery-image .inner-box img {
    width: 50px;
    height: 50px;

}

.main-gallery-image .inner-box {
    background: #3d3d3d;
    height: 178px;
    width: 366px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
    margin: 10px 10px;
}

.main-gallery-image .inner-box p {
    color: #fff;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.main-gallery-image:hover .inner-box {
    opacity: .9;
    transition: opacity .5s;
}

.main-gallery-image a {
    text-decoration: none;
    text-align: center;
}

.main-gallery-column {
    width: 250px;
    height: 400px;
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.main-gallery-column .inner-box img {
    width: 50px;
    height: 50px;
    margin-top: 50px;
}

.main-gallery-column .inner-box {
    background: #3d3d3d;
    height: 380px;
    width: 230px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
    margin: 10px 10px;
}

.main-gallery-column .inner-box p {
    color: #fff;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

.main-gallery-column:hover .inner-box {
    opacity: .9;
    transition: opacity .5s;
}

.main-gallery-column a {
    text-decoration: none;
    text-align: center;
}